
<div class="search-bar">
  <mat-form-field class="example-form-field">
    <mat-label>Search by Title</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" (input)="filter()">
    <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText='';filter();">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<mat-selection-list [multiple]="false">

    <mat-list-option *ngFor="let track of displayList" (mouseenter)="hoverTrack=track"
                     (mouseleave)="hoverTrack=null" (click)="playTrack(track)">
      <div>
        <div class="song-option">
          <span class="mat-body-strong">
            {{track.title}}
          </span>
          <span class="mat-small">
            {{' ' + track.artist}}
          </span>
        </div>

        <div class="song-option">
          <button mat-button (click) = "oButton()" [matMenuTriggerFor]="menu1" style="float: right">...</button>
          <mat-menu #menu1="matMenu" overlapTrigger="false" style="float: right">
              <span>
                  <button mat-menu-item (click) = "removeSong(track)">Remove Song</button>
                  <button mat-menu-item (click) = "addToPlaylist(track)">Add To Playlist</button>
                  <button mat-menu-item (click) = "viewArtist(track)">View Artist</button>
                  <button mat-menu-item (click) = "viewAlbum(track)">View Album</button>
              </span>
          </mat-menu>
        </div>
      </div>

      </mat-list-option>

</mat-selection-list>

<app-song-bar [track]="pTrack"></app-song-bar>
<button (click) = "showpp()"> {{ppButton}} </button>