.inline-half {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.main-header {
  padding-left: 20px;
  padding-right: 20px;
}

.ppLocation{
  text-align: center;
}

.ppB{
  border-radius: 50%;
}