
<div class="search-bar">
  <mat-form-field class="example-form-field">
    <mat-label>Search by Title</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" (input)="filter()">
    <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText='';filter();">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<mat-selection-list [multiple]="false">
  <mat-list-option *ngFor="let track of displayList" (mouseenter)="hoverTrack=track"
                   (mouseleave)="hoverTrack=null">
    <div style="display: inline">
      <span class="mat-body-strong">
        {{track.title}}
      </span>
      <span class="mat-small">
        {{' ' + track.artist}}
      </span>
      
     

    </div>
 

  <button mat-button [matMenuTriggerFor]="menu1">...</button>
  <mat-menu #menu1="matMenu" overlapTrigger="false">
      <span>
          <button mat-menu-item>Remove Song</button>
          <button mat-menu-item>Add To Playlist</button>
          <button mat-menu-item>View Artist</button>
          <button mat-menu-item>View Album</button>
      </span>
 </mat-menu>

</mat-list-option>

</mat-selection-list>






